@model SP.Web.ViewModels.InventoryProcessingViewModel

@{
    ViewData["Title"] = "CalcBalance";
}

<h1>Расчет остатков ТМЦ</h1>

<form id="mainForm" method="post" enctype="multipart/form-data">
    <div class="zero-gutters col-xl-12">
        <div class="form-row zero-gutters">
            <div class="form-group row col-4">
                <label asp-for="ProcessingDate" class="control-label col-6"></label>
                <input asp-for="ProcessingDate" type="date" class="form-control col-6" readonly="readonly" />
                <span asp-validation-for="ProcessingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <label for="RegionList" class="control-label col-2">Регион</label>
                <select id="RegionList" multiple="multiple" data-placeholder="Выберите регионы..."
                        asp-items="ViewBag.RegionList" class="col-9"
                        onchange="changeRegion();">
                </select>
                <a title="Выделить все" onclick="chosenSelectAll('RegionList');"><img src="/images/check-all.svg" class="icon-button" /></a>
                <a title="Снять все" onclick="chosenDeselectAll('RegionList');"><img src="/images/x.svg" class="icon-button" /></a>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <label for="TerritoryList" class="control-label col-2">Территория</label>
                <select id="TerritoryList" multiple="multiple" data-placeholder="Выберите территории..."
                        class="col-9"
                        onchange="changeTerritory();">
                </select>
                <a title="Выделить все" onclick="chosenSelectAll('TerritoryList');"><img src="/images/check-all.svg" class="icon-button" /></a>
                <a title="Снять все" onclick="chosenDeselectAll('TerritoryList');"><img src="/images/x.svg" class="icon-button" /></a>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <label for="GasStationList" class="control-label col-2">АЗС</label>
                <select id="GasStationList" class="col-5" data-placeholder="Выберите регион/территорию..."></select>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <label for="NomenclatureGroupList" class="control-label col-2">Группа номенклатуры</label>
                <select id="NomenclatureGroupList" data-placeholder="Выберите группу..."
                        asp-items="ViewBag.NomenclatureGroupList" 
                        class="col-5" onchange="loadNomenclature(this);">
                </select>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <label for="NomenclatureList" class="control-label col-2">Номенклатура</label>
                <select id="NomenclatureList" class="col-5" data-placeholder="Выберите позицию номенклатуры..."></select>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <label for="UserfulLifeList" class="control-label col-2">СПИ</label>
                <select id="UserfulLifeList" multiple="multiple" data-placeholder="Выберите значения..."
                        asp-items="ViewBag.UserfulLifeList" class="col-9"></select>
                <a title="Выделить все" onclick="chosenSelectAll('UserfulLifeList');"><img src="/images/check-all.svg" class="icon-button" /></a>
                <a title="Снять все" onclick="chosenDeselectAll('UserfulLifeList');"><img src="/images/x.svg" class="icon-button" /></a>
            </div>
        </div>
        <div class="form-row button-row">
            <button id="submit" class="btn btn-primary">Выполнить</button>
            <a href='@Url.Action("Balance", "Inventory")' class="btn btn-success">Перейти на следующий шаг</a>
            <a href='@Url.Action("ManualMerge", "Inventory")' class="btn btn-secondary">Вернуться назад</a>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-4">
                <label asp-for="ProcessingLog" class="control-label col-12"></label>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-12">
                <textarea asp-for="ProcessingLog" readonly="readonly" class="form-control log-textarea"></textarea>
            </div>
        </div>
    </div>
</form>

<input id="serviceKey" type="hidden" />

<div class="modal js-loading-bar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Расчет остатков ТМЦ</h5>
            </div>
            <div class="modal-body">
                <div class="progress-step"></div>
                <div class="progress" style="height: 20px;">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var intervalId;
        $(document).ready(function () {
            $('#RegionList').chosen();
            $('#TerritoryList').chosen();
            $('#GasStationList').chosen();
            $('#NomenclatureGroupList').chosen();
            $('#NomenclatureList').chosen();
            $('#UserfulLifeList').chosen();

            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                var hasErrors = false;
                if ($('#ProcessingDate').val() === '') {
                    $('#ProcessingDate + span').text('Поле Дата обработки обязательно для заполнения.');
                    hasErrors = true;
                }
                //if (hasErrors) return;

                var data = {
                    regions: $('#RegionList').val().join(),
                    terrs: $('#TerritoryList').val().join(),
                    station: $('#GasStationList').val(),
                    group: $('#NomenclatureGroupList').val(),
                    nom: $('#NomenclatureList').val(),
                    usefuls: $('#UserfulLifeList').val().join()
                };
                console.log(data);

                $.ajax({
                    url: '',
                    data: data,
                    type: 'post',
                    success: function (data) {
                        $('input + span').text('');
                        $('#serviceKey').val(data.key);
                        $('.modal-footer').hide();
                        $('.js-loading-bar').modal('show');
                        intervalId = setInterval(function () {
                            updateProgress();
                        }, 1000);
                    }
                });
            });

            $('.js-loading-bar').modal({
                backdrop: 'static',
                show: false
            });
        });

        function updateProgress() {
            var keyValue = $('#serviceKey').val();
            $.ajax({
                url: 'PeekStatus',
                data: 'key=' + keyValue,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: false,
                type: 'get',
                success: function (data) {
                    $('.progress-step').text(data.step);
                    $('.progress-bar').width(data.progress + '%');
                    $('.progress-bar').text(data.progress.toFixed(0) + '%');
                    if (data.status > 2) {
                        clearInterval(intervalId);
                        $('.log-textarea').val(data.log);
                        $('.modal-footer').show();
                    }
                }
            });
        }

        function changeRegion() {
            var terrList = $('#TerritoryList');
            var selectedRegions = $('#RegionList').val();
            var selectedTerrs = terrList.val().join();
            terrList.empty();
            if (selectedRegions.length === 0) {
                terrList.trigger("chosen:updated");
                terrList.trigger('change');
                return;
            }
            var url = '/Region/LoadTerritories';
            var requestData = { regions: selectedRegions.join() };
            $.get(url,
                requestData,
                function (data) {
                    $.each(data,
                        function (index, element) {
                            terrList.append($('<option>',
                                {
                                    value: element.id,
                                    text: element.name
                                }));
                        });

                    selectOptions(terrList, selectedTerrs);
                    terrList.trigger("chosen:updated");
                    terrList.trigger('change');
                });
        }

        function changeTerritory() {
            var regions = $('#RegionList').val();
            var terrs = $('#TerritoryList').val();
            var stationList = $("#GasStationList");
            stationList.empty();
            if (terrs === '') {
                stationList.trigger('change');
                return;
            }
            var url = '/Station/LoadStations';
            var requestData = {
                'regions': regions.join(),
                'terrs': terrs.join()
            };
            $.post(url,
                requestData,
                function (data) {
                    stationList.append($('<option>',
                        {
                            value: '',
                            text: '-- ВСЕ --'
                        }));
                    $.each(data,
                        function (index, element) {
                            stationList.append($('<option>',
                                {
                                    value: element.id,
                                    text: element.name
                                }));
                        });
                    stationList.trigger("chosen:updated");
                });
        }

        function loadNomenclature(control) {
            var group = $(control).val();
            var nomList = $('#NomenclatureList');
            nomList.empty();
            if (group === '') {
                nomList.trigger('change');
                return;
            }
            var url = '/Nomenclature/LoadNomenclature';
            var requestData = { 'group': group };
            $.get(url,
                requestData,
                function (data) {
                    nomList.append($('<option>',
                        {
                            value: '',
                            text: '-- ВСЕ --'
                        }));
                    $.each(data,
                        function (index, element) {
                            nomList.append($('<option>',
                                {
                                    value: element.id,
                                    text: element.name
                                }));
                        });
                    nomList.trigger("chosen:updated");
                    nomList.prop('selectedIndex', 0);
                    nomList.trigger('change');
                });
        }

        function chosenSelectAll(controlId) {
            $('#' + controlId + ' option').prop('selected', true);
            $('#' + controlId).trigger("chosen:updated");
            if (controlId === 'RegionList') changeRegion();
            else if (controlId === 'TerritoryList') changeTerritory();
        }

        function chosenDeselectAll(controlId) {
            $('#' + controlId + ' option').prop('selected', false);
            $('#' + controlId).trigger("chosen:updated");
        }

        function selectOptions(control, values) {
            if (values.length === 0) {
                $(control).val('');
                return;
            }

            var selected = values.split(',');
            $(control).val(selected);
        }
    </script>
}
