@model SP.Web.ViewModels.InventoryProcessingViewModel

@{
    ViewData["Title"] = "Order";
}

<h1>Заказы ТМЦ</h1>

<section>
    <div class="col-xl-6">
        <table id="OrderGrid" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th class="exportable-column">Номер</th>
                <th class="exportable-column">Дата</th>
                <th class="exportable-column">Сотрудник</th>
            </tr>
            </thead>
        </table>
    </div>
    <hr />
    <table id="OrderDetailGrid" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th class="exportable-column">Код Номенклатуры</th>
            <th class="exportable-column">Наименование</th>
            <th class="exportable-column">АЗС</th>
            <th class="exportable-column">Заказ</th>
        </tr>
        </thead>
    </table>

</section>

@section Scripts
{
    <script>
        $(document).ready(function() {
            var d = new Date();
            var todayString = ("0" + d.getDate()).slice(-2) + "." + ("0" + (d.getMonth() + 1)).slice(-2) + "." + d.getFullYear();
            $('#OrderGrid').DataTable({
                language: {
                    url: '/lib/datatables/i18n/russian.json'
                },
                rowId: 'id',
                order: [[1, "desc"]],
                select: {
                    style: 'single'
                },
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, 'Все']
                ],
                processing: true,
                ajax: {
                    url: '/Inventory/LoadOrderList',
                    type: 'GET',
                    dataType: 'json'
                },
                columns: [
                    { data: 'id' },
                    { data: 'orderDate' },
                    { data: 'personName' }
                ],
                columnDefs: [
                    {
                        targets: 'hidden-column',
                        visible: false
                    },
                    {
                        targets: 1,
                        render: $.fn.dataTable.render.moment('YYYY-MM-DDTHH:mm:ss.SSSSSS', 'DD.MM.YYYY HH:mm:ss')
                    }
                ],
                dom:
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-6'i>>" +
                        "<'row'<'col-sm-12 col-md-6 left-pagination'p>>"
            });
            $('#OrderGrid').DataTable().on('select', function( e, dt, type, indexes ) {
                if (type === 'row') {
                    //var data = table.rows( indexes ).data().pluck( 'id' );
                    $('#OrderDetailGrid').DataTable().ajax.reload();
                }
            });

            $('#OrderDetailGrid').DataTable({
                language: {
                    url: '/lib/datatables/i18n/russian.json'
                },
                rowId: 'id',
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, 'Все']
                ],
                processing: true,
                ajax: {
                    url: '/Inventory/LoadOrderDetailList',
                    type: 'POST',
                    data: function (d) {
                        var data = $('#OrderGrid').DataTable().rows({ selected: true }).ids();
                        if (data.length === 0) {
                            d.id = 0;
                        } else {
                            d.id = data[0];
                        }
                    },
                    dataType: 'json'
                },
                columns: [
                    { data: 'code' },
                    { data: 'name' },
                    { data: 'gasStationName' },
                    { data: 'quantity' }
                ],
                columnDefs: [
                    {
                        targets: 'hidden-column',
                        visible: false
                    }
                ],
                dom:
                    "<'row'<'col-sm-12 col-md-12 dt-action-group'B>>" +
                        "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-6'i>>" +
                        "<'row'<'col-sm-12 col-md-6 left-pagination'p>>",
                buttons: [
                    {
                        text: 'Вернуться назад',
                        className: 'dt-action-button btn btn-secondary',
                        action: function() {
                            window.location = '@Url.Action("Demand", "Inventory")';
                        }
                    },
                    {
                        text: 'Excel',
                        titleAttr: "Выгрузить таблицу в Excel",
                        className: 'dt-action-button',
                        extend: 'excel',
                        title: 'Заказ ТМЦ',
                        messageTop: 'Дата выгрузки ' + todayString,
                        exportOptions: {
                            columns: '.exportable-column',
                            modifier: { search: 'applied' },
                            grouped_array_index: [4]
                        }
                    }
                ]
            });
        });
    </script>
}
