@model SP.Service.Models.RegionalStructureModel
@{
    Layout = null;
}

<form id="EditRegionForm">
    <div class="modal-header">
        <h5 class="modal-title">Регион</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Inactive" /> @Html.DisplayNameFor(model => model.Inactive)
            </label>
        </div>
        <div id="EditRegionAlert" class="text-danger"></div>
    </div>
    <div class="modal-footer form-row button-row">
        <button type="button" class="btn btn-primary" onclick="postForm();">Сохранить и закрыть</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
</form>

<script>
    function postForm() {
        var url = '/Region/EditRegion';
        var postData = $('#EditRegionForm').serialize();
        $.post(url, postData, function (data) {
            if (isNaN(data)) {
                $('#EditRegionAlert').html(data);
                return;
            }
            var id = $('#Id').val();
            var name = $('#Name').val();
            var dt = $('#TerritoryGrid').DataTable();
            if (id === '0') {
                // create
                $('#RegionList').append($('<option>',
                    {
                        value: data,
                        text: name
                        }))
                    .val(data)
                    .trigger('change');
            } else {
                // edit
                $('#RegionList option[value="' + id + '"]').text(name);
                dt.ajax.reload(null, false);
            }
            $('#RegionModal').modal('hide');
        });
    }
</script>