@model SP.Web.ViewModels.TerritoryViewModel
@{
    Layout = null;
    bool isAdminRole = this.User.IsInRole("Administrator");
    string readonlyText = isAdminRole ? "(true)" : "(false)";
}

<form id="EditTerritoryForm">
    <div class="modal-header">
        <h5 class="modal-title">Территория</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input asp-for="RegionalStructure.Id" type="hidden" />
        <input asp-for="Territory.Id" type="hidden" />
        <input asp-for="Territory.ParentId" type="hidden" />
        <div class="form-group">
            <label asp-for="RegionalStructure.Name" class="control-label">Наименование региона</label>
            <input asp-for="RegionalStructure.Name" class="form-control" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Territory.Name" class="control-label">Наименование территории</label>
            <input asp-for="Territory.Name" class="form-control" readonly="@readonlyText" />
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Territory.Inactive" readonly="@readonlyText" /> @Html.DisplayNameFor(model => model.Territory.Inactive)
            </label>
        </div>
        <div id="EditRegionAlert" class="text-danger"></div>
    </div>
    <div class="modal-footer form-row button-row">
        @if (isAdminRole)
        {
            <button type="button" class="btn btn-primary" onclick="postForm();">Сохранить и закрыть</button>
        }
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
</form>

<script>
    function postForm() {
        var url = '/Region/EditTerritory';
        var postData = $('#EditTerritoryForm').serialize();
        $.post(url, postData, function (data) {
            if (isNaN(data)) {
                $('#EditTerritoryAlert').html(data);
                return;
            }
            $('#TerritoryGrid').DataTable().ajax.reload(null, false);
            $('#TerritoryModal').modal('hide');
        });
    }
</script>