@{
    ViewData["Title"] = "Region";
}

<h1>Справочник регионов и территорий</h1>

<section>
    <div class="col-xl-9">
        <div class="form-row zero-gutters">
            <div class="form-group row col-6">
                <label for="RegionList" class="control-label zero-gutters col-3">Регион</label>
                <select id="RegionList" asp-items="ViewBag.RegionList" class="col-9" onchange="setRegionFilter();"></select>
            </div>
            <div class="form-group row button-group-right col-6">
                <button class="btn btn-secondary" onclick="createRegion();">Добавить</button>
                <button class="btn btn-secondary" onclick="editRegion();">Изменить</button>
            </div>
        </div>
    </div>

    <div class="col-xl-9">
        <hr class="section-separate" />
        <table id="TerritoryGrid" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="hidden-column"><input type="checkbox" class="selectAll" /></th>
                    <th></th>
                    <th>Статус</th>
                    <th class="hidden-column">ID региона</th>
                    <th class="exportable-column">Регион</th>
                    <th class="exportable-column">Территория</th>
                </tr>
            </thead>
        </table>
    </div>
</section>
<section>
    <div class="modal" id="FilterModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Фильтры</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body filter-area">
                    <p>
                        <input type="checkbox" id="IncludeBlocked" /> включить заблокированных
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="RegionModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="RegionModalContent"></div>
            </div>
        </div>
    </div>

    <div class="modal" id="TerritoryModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="TerritoryModalContent"></div>
            </div>
        </div>
    </div>

</section>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var d = new Date();
            var todayString = ("0" + d.getDate()).slice(-2) + "." + ("0" + (d.getMonth() + 1)).slice(-2) + "." + d.getFullYear();
            $('#TerritoryGrid').DataTable({
                language: {
                    url: '/lib/datatables/i18n/russian.json'
                },
                orderFixed: [4, 'asc'],
                rowGroup: {
                    dataSrc: 'regionName'
                },
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, 'Все']
                ],
                processing: true,
                ajax: {
                    url: '/Region/LoadTerritoryList',
                    type: 'POST',
                    dataType: 'json'
                },
                columns: [
                    { defaultContent: '' },
                    {
                        render: function (data, type, full, meta) {
                            return '<a href="#" onclick="editTerritory(' + full.territoryId + ');"><img src="/images/pencil-square.svg"/></a>';
                        }
                    },
                    {
                        data: null,
                        render: {
                            '_': 'active',
                            'filter': 'active',
                            'display': function (data, type, full, meta) {
                                if (full.active === '1') return null;
                                else return '<img src="/images/ban-solid-16.png" alt="blocked" title="Территория заблокирована" />';
                            }
                        }
                    },
                    { data: 'regionId' },
                    { data: 'regionName' },
                    { data: 'territoryName' }
                ],
                columnDefs: [
                    {
                        targets: 'hidden-column',
                        visible: false
                    },
                    {
                        targets: 0,
                        data: null,
                        orderable: false,
                        sorting: false,
                        className: 'select-checkbox',
                        width: '1.5em'
                    },
                    {
                        targets: 1,
                        orderable: false,
                        sorting: false,
                        width: '1em'
                    },
                    {
                        targets: 2,
                        orderable: false,
                        sorting: false,
                        className: 'dt-center',
                        width: '1em'
                    },
                    {
                        targets: 4,
                        orderable: false
                    }
                ],
                dom:
                    "<'row'<'col-sm-12 col-md-6 dt-action-group'B>>" +
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-6'i>>" +
                    "<'row'<'col-sm-12 col-md-6 left-pagination'p>>",
                buttons: [
                    {
                        text: 'Добавить',
                        titleAttr: "Создать новую территорию в регионе",
                        className: 'dt-action-button',
                        action: function (e, dt, node, config) {
                            createTerritory();
                        }
                    },
                    {
                        text: 'Excel',
                        titleAttr: "Выгрузить таблицу в Excel",
                        className: 'dt-action-button',
                        extend: 'excel',
                        title: 'Список пользователей',
                        messageTop: 'Дата выгрузки ' + todayString,
                        exportOptions: {
                            columns: '.exportable-column',
                            modifier: { search: 'applied' },
                            grouped_array_index: [4]
                        }
                    },
                    {
                        text: 'Фильтры',
                        className: 'dt-action-button filter-button',
                        action: function (e, dt, node, config) {
                            $('#FilterModal').modal();
                        }
                    }
                ],
                select:
                {
                    style: 'multi',
                    selector: 'td:first-child'
                }
            });
            var dt = $('#TerritoryGrid').DataTable();
            // select all checkbox
            $(".selectAll").on("click",
                function (e) {
                    if ($(this).is(":checked")) {
                        dt.rows().select({ page: 'current' });
                    } else {
                        dt.rows().deselect();
                    }
                });
            // filters
            setRegionFilter();
            dt.columns(2).search('1').draw(false);
            $('input:checkbox', $('div.filter-area')).on('change',
                function () {
                    var isEnabled = false;
                    var searchString = '';
                    if ($('#IncludeBlocked').is(':checked')) {
                        isEnabled = true;
                    } else {
                        searchString = '1';
                    }
                    // filter territories
                    dt.columns(2).search(searchString).draw(false);
                    if (isEnabled) $('.filter-button').addClass('filter-enabled');
                    else $('.filter-button').removeClass('filter-enabled');
                });
        });

        function setRegionFilter() {
            var dt = $('#TerritoryGrid').DataTable();
            var searchString = $('#RegionList').val();
            dt.columns(3).search(searchString).draw(false);
        }

        function createRegion() {
            var url = '/Region/CreateRegion';
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#RegionModalContent').html(data);
                    $('#RegionModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function () {
                    alert('Ошибка открытия формы для создания региона');
                }
            });
        }

        function editRegion() {
            var id = $('#RegionList').val();
            if (id === '') {
                alert('Выберите регион из списка');
                return;
            }
            var url = '/Region/EditRegion';
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                dataType: "html",
                success: function (data) {
                    $('#RegionModalContent').html(data);
                    $('#RegionModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Ошибка открытия формы для создания региона');
                }
            });
        }

        function createTerritory() {
            var parent = $('#RegionList').val();
            if (parent === '') {
                alert('Выберите регион из списка');
                return;
            }
            var url = '/Region/CreateTerritory';
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: { "parent": parent },
                dataType: "html",
                success: function (data) {
                    $('#TerritoryModalContent').html(data);
                    $('#TerritoryModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function () {
                    alert('Ошибка открытия формы для создания территории');
                }
            });
        }

        function editTerritory(id) {
            var url = '/Region/EditTerritory';
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                dataType: "html",
                success: function (data) {
                    $('#TerritoryModalContent').html(data);
                    $('#TerritoryModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function () {
                    alert('Ошибка открытия формы для редактирования территории');
                }
            });
        }
    </script>
}
