<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Supply Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/bundles/dt.bundle.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/custom.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundles/dt.bundle.min.css" />
        <link rel="stylesheet" href="~/bundles/site.bundle.min.css" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Планирование поставок ТМЦ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @{
                        if (this.User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav flex-grow-1">
                                @if (this.User.IsInRole("Administrator"))
                                {
                                    <li class="nav-item">
                                        <div class="dropdown">
                                            <span class="nav-link text-dark dropbtn">Расчет</span>
                                            <div class="dropdown-content">
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="Upload">Загрузка остатков ТМЦ</a>
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="AutoMerge">Автоматическое объединение ТМЦ с Номенклатурой</a>
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="ManualMerge">Ручное объединение ТМЦ с Номенклатурой</a>
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="CalcBalance">Расчет остатков ТМЦ</a>
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="Balance">Остатки ТМЦ в разрезе Номенклатуры</a>
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="Demand">Заказ ТМЦ</a>
                                                <a class="nav-link text-dark" asp-controller="Inventory" asp-action="Order">Список заказов</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Nomenclature" asp-action="Index">Номенклатура</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Station" asp-action="Index">Реестр АЗС</a>
                                </li>
                                @if (this.User.IsInRole("Administrator"))
                                {
                                    <li class="nav-item">
                                        <div class="dropdown">
                                            <span class="nav-link text-dark dropbtn">Справочники</span>
                                            <div class="dropdown-content">
                                                <a class="nav-link text-dark" asp-controller="Region" asp-action="Region">Регионы</a>
                                                <a class="nav-link text-dark" asp-controller="Settlement" asp-action="Index">Населенный пункт</a>
                                                <a class="nav-link text-dark" asp-controller="NomenclatureGroup" asp-action="Index">Группы номенклатуры</a>
                                                <a class="nav-link text-dark" asp-controller="StationLocation" asp-action="Index">Месторасположение</a>
                                                <a class="nav-link text-dark" asp-controller="StationStatus" asp-action="Index">Статус</a>
                                                <a class="nav-link text-dark" asp-controller="ServiceLevel" asp-action="Index">Кластер (уровень сервиса)</a>
                                                <a class="nav-link text-dark" asp-controller="OperatorRoomFormat" asp-action="Index">Формат операторной</a>
                                                <a class="nav-link text-dark" asp-controller="ManagementSystem" asp-action="Index">Режим работы торгового зала</a>
                                                <a class="nav-link text-dark" asp-controller="TradingHallOperatingMode" asp-action="Index">Месторасположение</a>
                                                <a class="nav-link text-dark" asp-controller="ClientRestroom" asp-action="Index">Санузел для клиентов</a>
                                                <a class="nav-link text-dark" asp-controller="CashboxLocation" asp-action="Index">Расчетно-кассовый узел</a>
                                                <a class="nav-link text-dark" asp-controller="TradingHallSize" asp-action="Index">Размер торгового зала</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Пользователи</a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="dropdown">
                                            <span class="nav-link text-dark dropbtn">Отчеты</span>
                                            <div class="dropdown-content">
                                                <a class="nav-link text-dark" asp-controller="Report" asp-action="ActionReport">Отчет руководителя</a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <environment include="Development">
        <script src="~/bundles/dt.bundle.js"></script>
        <script src="~/bundles/site.bundle.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/bundles/dt.bundle.min.js"></script>
        <script src="~/bundles/site.bundle.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
