@model SP.Service.Models.NomenclatureModel
@{
    Layout = null;
}

<form id="EditNomenclatureForm">
    <div class="modal-header">
        <h5 class="modal-title">Номенклатура</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" width="600px;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#properties">Характеристики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#inventories">ТМЦ</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="properties" style="padding-top: 1em; padding-bottom: 1em;">
                <div class="zero-gutters col-12">
                    <input asp-for="Id" type="hidden" />
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="Code" class="control-label col-4"></label>
                            <input asp-for="Code" class="form-control col-4" />
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="Name" class="control-label col-4"></label>
                            <input asp-for="Name" class="form-control col-8" />
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="PetronicsCode" class="control-label col-4"></label>
                            <input asp-for="PetronicsCode" class="form-control col-4" />
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="PetronicsName" class="control-label col-4"></label>
                            <input asp-for="PetronicsName" class="form-control col-8" />
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="MeasureUnitId" class="control-label col-4"></label>
                            <select asp-for="MeasureUnitId" asp-items="ViewBag.MeasureUnitList" class="form-control col-8"></select>
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="NomenclatureGroupId" class="control-label col-4"></label>
                            <select asp-for="NomenclatureGroupId" asp-items="ViewBag.NomenclatureGroupList" class="form-control col-8"></select>
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-12">
                            <label asp-for="UsefulLife" class="control-label col-4"></label>
                            <input asp-for="UsefulLife" class="form-control col-2" />
                        </div>
                    </div>
                    <div class="form-row zero-gutters">
                        <div class="form-group row col-4"></div>
                        <div class="form-group row form-check col-8">
                            <label class="form-check-label">
                                <input asp-for="Inactive" /> @Html.DisplayNameFor(model => model.Inactive)
                            </label>
                        </div>
                    </div>
                    <div id="EditAlert" class="text-danger"></div>
                </div>
            </div>
            <div class="tab-pane fade" id="inventories" style="padding-top: 1em; padding-bottom: 1em;">
                <table id="NomenclatureInventoryGrid" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="exportable-column">Код</th>
                        <th class="exportable-column">Наименование</th>
                        <th class="exportable-column">АЗС</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
    <div class="modal-footer form-row button-row">
        <button type="button" class="btn btn-primary" onclick="postForm();">Сохранить и закрыть</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#NomenclatureInventoryGrid').DataTable({
            language: {
                url: '/lib/datatables/i18n/russian.json'
            },
            scrollX: true,
            lengthMenu: [
                [10, 25, 50, 100, -1],
                [10, 25, 50, 100, "Все"]
            ],
            ajax: {
                url: '/Nomenclature/LoadInventoryList',
                type: 'POST',
                data: function(d) {
                    d.id = $('#Id').val();
                },
                dataType: 'json'
            },
            columns: [
                { data: 'code' },
                { data: 'name' },
                { data: 'stationNumber' }
            ],
            dom:
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-6'i>>" +
                "<'row'<'col-sm-12 col-md-6 left-pagination'p>>"
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        });
    });

    function postForm() {
        var url = '/Nomenclature/Save';
        var postData = $('#EditNomenclatureForm').serialize();
        $.post(url, postData, function (data) {
            if (isNaN(data)) {
                $('#EditAlert').html(data);
                return;
            }
            var id = $('#Id').val();
            var name = $('#Name').val();
            var dt = $('#NomenclatureGrid').DataTable();
            dt.ajax.reload(null, false);
            $('#NomenclatureModal').modal('hide');
        });
    }

</script>